/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
/*=============== VARIABLES CSS ===============*/
:root {
    --header-height: 3.5rem;
/*=============== Colors ===============*/
/* HSL은 색상(Hue), 채도(Saturation), 명도(Lightness) */
    --hue: 152;
    --first-color: hsl(var(--hue), 24%, 32%);
    --first-color-alt: hsl(var(--hue), 24%, 28%);
    --first-color-light: hsl(var(--hue), 24%, 66%);
    --first-color-lighten: hsl(var(--hue), 24%, 92%);
    --title-color: hsl(var(--hue), 4%, 15%);
    --text-color: hsl(var(--hue), 4%, 35%);
    --text-color-light: hsl(var(--hue), 4%, 55%);
    --body-color: hsl(var(--hue), 0%, 100%);
    --container-color: #FFF;
}
/*=============== Font and typography ===============*/
    --body-font: 'Poppins', sans-serif;
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem; /* 15px */
    --small-font-size: .813rem; /* 13px */
    --smaller-font-size: .75rem; /* 12px */

/*=============== Font weight ===============*/
/*=============== Margenes Bottom ===============*/
/* .5rem = 8px | 1rem = 16px ... */
/*=============== z index ===============*/
/* Responsive typography */
/*=============== BASE ===============*/
/*=============== THEME ===============*/
/*=============== Variables Dark theme ===============*/
/*=============== Button Dark/Light ===============*/
/*===============
Color changes in some parts of
the website, in dark theme
===============*/
/*=============== REUSABLE CSS CLASSES ===============*/
/*=============== HEADER ===============*/
/*=============== NAV ===============*/
/*=============== HOME ===============*/
/*=============== BOTTONS ===============*/
/*=============== ABOUT ===============*/
/*=============== STEPS ===============*/
/*=============== PRODUCTS ===============*/
/*=============== QUESTIONS ===============*/
/*Rotate icon, change color of titles and background*/
/*=============== CONTACT ===============*/
/*Input focus move up label*/
/*Input focus sticky top label*/
/*=============== FOOTER ===============*/
/*=============== SCROLL UP ===============*/
/*=============== SCROLL BAR ===============*/
/*=============== BREAKPOINTS ===============*/
/* For small devices */
/* For medium devices */
/* For large devices */
